* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-image: url(imagen-fondo/ZP37wE.gif);
background-size: 100% 480%;
background-position: center;
background-repeat: no-repeat;

}

/*   MAQUETACION */

.contenedor-grid > *{
    box-shadow: 0px 3px 8px 2px black;
    margin: 2px;
    text-align: center;

}

.contenedor-grid{
    gap: 1.3rem;
    display: grid;
}

#cabeza{
    background-color: rgba(0, 0, 0, 0.74);
    margin: 0;
    height: 2rem;
    width: 100%;
    color: rgb(214, 82, 82);
    font-size: 1.8rem;
    text-shadow: 7px 1px 3px black;
}

#ejercicios{
    height: 17rem;
    width: 99,8%;
    background-color: rgba(0, 0, 0, 0.733);
}


/* H2 DE LOS BOTONES*/

h2{
    font-size: 1.4rem;
    color: rgb(231, 70, 70);
    text-shadow: 7px 1px 3px black;
}

/* BOTONES */

.botones{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

button{
    box-shadow: 0px 1px 7px 1px black;
}

button:hover{
    background-color: rgb(170, 170, 170);
    box-shadow: 0px 1px 7px 5px rgb(255, 255, 255);
    border: white;
    color: rgb(0, 0, 0);
}

#boton1{
    overflow: hidden;
    height: 2rem;   
}

#boton2{
    overflow: hidden;
    height: 2rem;
}

#boton3{
    overflow: hidden;
    height: 2rem;
}


